@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body,
  #root {
    overflow: hidden;
    max-height: 100vh;

    @apply h-screen bg-neutral-900 dark:bg-neutral-750;
  }

  button {
    @apply disabled:cursor-not-allowed disabled:opacity-50;
  }

  .icon-button {
    @apply flex cursor-pointer items-center p-2 h-10 w-10 rounded-full text-custom-primary-800 hover:bg-neutral-100 dark:text-custom-primary-800 dark:hover:bg-neutral-700;
  }

  input {
    @apply block w-full rounded-lg border border-neutral-300 bg-white p-2.5 text-sm font-medium text-neutral-900 focus:outline-none dark:border-neutral-700 dark:bg-neutral-700 dark:text-white dark:placeholder-neutral-300;
  }

  input.secondary {
    @apply bg-neutral-100 dark:bg-neutral-800;
  }

  .tooltip {
    @apply rounded border-2 border-neutral-500 bg-white text-neutral-900 shadow dark:divide-neutral-600 dark:bg-neutral-800 dark:text-white;
  }

  .card {
    @apply border border-neutral-200 bg-neutral-200 shadow-md dark:border-neutral-700 dark:bg-neutral-800;
  }

  button.card {
    @apply cursor-pointer text-white hover:bg-neutral-300 disabled:cursor-default disabled:hover:bg-neutral-200 dark:hover:bg-neutral-750 dark:disabled:hover:bg-neutral-800;
  }

  .markdown h1 {
    @apply text-2xl font-bold text-neutral-900 dark:text-white;
  }

  .markdown ul {
    @apply mb-4 pl-2;
  }

  .markdown li {
    @apply list-inside list-disc;
  }

  .markdown li p {
    @apply m-0 inline;
  }

  .markdown p {
    @apply m-0 mb-2;
  }

  .markdown h1 {
    @apply m-0 mb-2 text-2xl font-bold text-neutral-900 dark:text-white;
  }

  .markdown h2 {
    @apply m-0 mb-2 border-b border-neutral-300 pb-2 text-xl font-bold text-neutral-900 dark:border-neutral-600 dark:text-white;
  }

  .markdown h3 {
    @apply m-0 mb-2 text-lg font-bold text-neutral-900 dark:text-white;
  }

  .markdown a {
    @apply text-custom-primary-800 hover:underline dark:text-custom-primary-800;
  }

  /* WebKit/Blink */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply bg-custom-primary-700 w-4 h-4 rounded-lg border-custom-primary-900;
  }

  /* Firefox */
  input[type="range"]::-moz-range-thumb {
    @apply bg-custom-primary-700 w-4 h-4 rounded-lg border-custom-primary-900;
  }

  input[type="range"] {
    @apply bg-neutral-300 rounded-lg appearance-none cursor-pointer border-solid border-neutral-400  dark:border-neutral-600 dark:bg-neutral-700;
  }
}

@layer utilities {
  .scrollbar {
    scrollbar-color: var(--primary-color-800) transparent;
    scrollbar-width: auto;
  }

  .scrollbar::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--primary-color-800);
    @apply rounded-2xl;
  }
  .scrollbar::-webkit-scrollbar-thumb:active {
    background-color: var(--primary-color-300);
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color-500);
  }

  /* Scroll track styles (Background) */
  .scrollbar::-webkit-scrollbar-track {
    background: "transparent";
  }
  .scrollbar::-webkit-scrollbar-track:hover,
  .scrollbar::-webkit-scrollbar-track:active {
    background: "transparent";
  }
}
